html, body {
  font-family: lexend !important;
  margin: 0;
  padding: 0;
}

p {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#020409+0,05101b+50,020409+100 */
  background: linear-gradient(to bottom,  #020409 0%,#05101b 50%,#020409 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 10px;
  font-size: 30px;
  font-weight: 600;
  padding: 20px 40px;
  width: 75%;
}