html, body {
  font-family: lexend !important;
  margin: 0;
  padding: 0;
}

p {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#020409+0,05101b+50,020409+100 */
  background: rgba(0, 0, 0, 0.6) !important;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 600;
  padding: 20px 40px;
  width: 75%;
}

p {
  font-size: 27px;
  text-align: justify;
}

#navbar-laser {
  position: relative;
  z-index: 1;
  width: 1365px;
}

#nav-bar {
    font-size: 18px;
    position: relative;
    top: -125px;
    right: 50px;
    text-transform: uppercase;
    z-index: 2;
}

#nav-bar a {
  transition: 0.2s
}

#nav-bar a.nav-bar-selected-link {
  border-bottom: 5px solid white;
}

#nav-bar a:hover {
  border-bottom: 5px solid white;
}

#nav-bar:hover a.nav-bar-selected-link {
  border-bottom: none;
}

#nav-bar:hover a.nav-bar-selected-link:hover {
  border-bottom: 5px solid white;
}

#barqia-footer-gif {
    margin-top: -100px;
    margin-bottom: -100px;
    width: 500px;
}

#footer-text {
  left: -30px;
  position: relative;
}

.neonText {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}