html, body {
  font-family: lexend !important;
  margin: 0;
  padding: 0;
}

p {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#020409+0,05101b+50,020409+100 */
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-size: 20px;
  text-align: justify;
  font-weight: 600;
  line-height: 40px;
  padding: 20px 40px;
  width: 75%;
}

#navbar-laser {
  position: relative;
  z-index: 1;
  width: 100%;
}

#nav-bar {
    font-size: 18px;
    position: relative;
    top: -125px;
    right: 50px;
    text-transform: uppercase;
    z-index: 2;
}

#nav-bar a {
  transition: 0.2s
}

#nav-bar a.nav-bar-selected-link {
  border-bottom: 5px solid white;
}

#nav-bar a:hover {
  border-bottom: 5px solid white;
}

#nav-bar:hover a.nav-bar-selected-link {
  border-bottom: none;
}

#nav-bar:hover a.nav-bar-selected-link:hover {
  border-bottom: 5px solid white;
}

#barqia-footer-gif {
    margin-top: -100px;
    margin-bottom: -100px;
    width: 500px;
}

#footer-text {
  left: -30px;
  position: relative;
}

.neonText {
  color: #B7CFCC;
  font-size: 49px;
  text-shadow:
      0 0 3px #B7CFCC,
      0 0 5px #B7CFCC,
      0 0 10px #B7CFCC,
      0 0 21px #005A4D,
      0 0 41px #005A4D,
      0 0 46px #005A4D,
      0 0 51px #005A4D,
      0 0 75px #005A4D;
}